:root {
  --cor1noite: #0d2836;
  --cor2noite: #406a9b;
  --cor3noite: #93d8ff;
  --cor4noite: #d3eaff;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Fasthand", cursive;
}

.caixa {
  margin: 20px auto;
  width: 450px;
  height: 500px;
}

header {
  display: flex;
  height: 150px;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position-y: 23%;
  font-size: 20px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-end;
  border-radius: 10px 10px 0 0;
}

.conteudo {
  background-color: var(--cor4noite);
  height: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.blocoAdd {
  float: left;
  width: 100%;
  height: 70px;
  background: white;
  border-radius: 35px;
  margin-bottom: 20px;
}

.blocoAdd input {
  float: left;
  width: 80%;
  height: 100%;
  border: none;
  background: transparent;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  padding-left: 30px;
}

.blocoAdd button {
  float: left;
  width: 20%;
  height: 100%;
  border: none;
  background: transparent;
}

.blocoAdd button img {
  cursor: pointer;
  height: 22px;
}

.tarefa {
  height: min-content;
  display: flex;
  background-color: aliceblue;
  border-radius: 25px;
  padding: 10px 25px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  list-style: none;
  margin-bottom: 10px;
  color: var(--cor2noite);
}

.tarefa li {
  display: flex;
}

.tarefa input {
  margin-right: 15px;
  cursor: pointer;
}

.iconesTarefa {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

.iconesTarefa img {
  height: 22px;
  cursor: pointer;
}
